@model IEnumerable<BibliotecaNA.Models.Domain.Genero>
@{
}

<div class="container pt-5">
    <div class="row">
        <h3>Gêneros</h3>

        <table class="table table-hover table-borderless">
            <thead>
                <tr>
                    <th>Nome do gênero</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nome</td>
                        <td class="d-flex gap-4">
                            <a class="btn confirm-btn" href="/Genero/Update?id=@item.Id"><i class="bi bi-pen"></i>
                                Editar</a>
                            <a class="btn btn-danger"
                                onclick="return window.confirm('Tem a certeza de deseja remover este gênero?')"
                                href="/Genero/Delete?id=@item.Id"><i class="bi bi-trash"></i> Remover</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn add-btn" href="/Genero/Add">Adicionar mais gêneros</a>
        </div>
    </div>
</div>
