<!doctype html>
<html lang="en">

<head>
    <title>Biblioteca NA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .pink-tlt {
            color: #ed8876;
        }

        .confirm-btn {
            outline: 1px solid #ed8876;
            color: #ed8876;

        }

        .confirm-btn:hover {
            background-color: #ed8876;
            color: white;
        }

        .add-btn:hover {
            color: #ed8876;
            background-color: white;
            outline: 1px solid #ed8876;
        }

        .nav-link{
            border-radius: 10px;
            outline: 1px solid #ed8876;
        }

        .add-btn {
            background-color: #ed8876;
            color: white
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .shared-link a {
            all: unset;
            color: white;
        }

        .wrapper {
            height: 100vh;
            width: 100vw;
        }

        .logo img {
            width: 18rem;
        }

        #sidebar {
            width: 20%;
            height: 100vh;
            background-color: #fff;
            border-right: #ed8876 solid 1px;
        }

        .content-container{
            background-color: #f8f9fa;
        }

        .btn-logout {
            background-color: #ed8876;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            display: block;
            width: 100%;
            text-align: center;
            margin-top: 20px;
        }

        .btn-logout:hover {
            background-color: #e9725d;
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch h-100">
        <nav id="sidebar" class=" h-100">
            <div class="p-4 pt-5">
                <div class="logo">
                    <img src="~/images/logo.png" alt="logo da aplicacao">
                </div>
                <br>
                <ul class="shared-link list-unstyled d-flex flex-column gap-3 mb-5">
                    <li>
                        <a href="/Genero/GetAll">
                            <button class="btn confirm-btn w-100">Gêneros</button>
                        </a>
                    </li>
                    <li >
                        <a href="/Autor/GetAll">
                          <button class="btn confirm-btn w-100">Autores</button>
                        </a>
                    </li>
                    <li >
                        <a href="/Editora/GetAll">
                          <button class="btn confirm-btn w-100">Editoras</button>
                        </a>
                    </li>
                    <li >
                        <a href="/Livro/GetAll">
                          <button class="btn confirm-btn w-100">Livros</button>
                        </a>
                    </li>
                    <li >
                        <a href="/Usuario/GetAll">
                          <button class="btn confirm-btn w-100">Usuário</button>
                        </a>
                    </li>
                </ul>
                <form asp-controller="Usuario" asp-action="Logout" method="post">
                    <button type="submit" class="btn-logout">Logout</button>
                </form>
            </div>
        </nav>

        <div id="content content-container" class="w-100 h-100">
            @RenderBody()
        </div>
    </div>
</body>

</html>
