<!doctype html>
<html lang="en">

<head>
    <title>Biblioteca NA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
				body {
            height: 100dvh;
            width: 100dvw;
        }

        .shared-link a{
            all: unset;
            color: white;
        }

        .wrapper {
            height: 100dvh;
            width: 100dvw;
        }

        .logo img {
            width: 18rem;
        }

        #sidebar {
            width: 20%;
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="bg-dark">
            <div class="p-4 pt-5">
                <div class="logo">
                    <img src="~/images/logo.jpg" alt="logo da aplicacao">
                </div>
                <br>
                <ul class="shared-link list-unstyled d-flex flex-column gap-3 mb-5">
                    <li class="active">
                        <a href="/Genero/Add">Generos</a>
                    </li>
                    <li>
                        <a href="/Autor/Add">Autores</a>
                    </li>
                    <li>
                        <a href="/Editora/Add">Editoras</a>
                    </li>
                    <li>
                        <a href="/Livro/Add">Livros</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="content" class="w-100 h-100">
            @RenderBody()
        </div>
    </div>
</body>

</html>