@{
    ViewData["Title"] = "Acesso Negado";
}

<h2>Acesso Negado</h2>
<p>Você não tem permissão para acessar esta página.</p>
<a href="@Url.Action("Login", "Usuario")" class="btn btn-primary">Voltar para a Página de Login</a>
