@model IEnumerable<YtBookStore.Models.Domain.Author>
@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Author/Add">+ Add more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Authors</h3>

            <table  class="table table-stripped table-bordered table-dark">
                <thead>
                    <tr>
                        <th>AuthorName</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>@item.AuthorName</td>
                        <td>
                                <a class="btn btn-success" href="/Author/Update?id=@item.Id"> <i class="bi bi-pen"></i> Edit</a> |
                                <a class="btn btn-danger" onclick="return window.confirm('Are you sure?')" href="/Author/Delete?id=@item.Id"><i class="bi bi-trash"></i> Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

