@model BibliotecaNA.Models.Domain.Livro
@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Adicionar livros</h3>
            <form asp-action="Add" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-4">
                <div class="form-group">
                    <label asp-for="Titulo">Título *</label>
                    <input type="text" class="form-control" asp-for="Titulo" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile">Upload da Capa *</label>
                    <input type="file" class="form-control" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="IdGenero">Gênero *</label>
                    <select asp-for="IdGenero" asp-items="Model.ListaGenero" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdGenero" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Isbn">Isbn *</label>
                    <input type="text" class="form-control" asp-for="Isbn" />
                    <span asp-validation-for="Isbn" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="NrPaginas">Número de páginas *</label>
                    <input type="number" class="form-control" asp-for="NrPaginas" min="1" />
                    <span asp-validation-for="NrPaginas" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="IdAutor">Autor *</label>
                    <select asp-for="IdAutor" asp-items="Model.ListaAutor" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdAutor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Titulo">Editora *</label>
                    <select asp-for="IdEditora" asp-items="Model.ListaEditora" class="form-control">
                        <option value="">--select--</option>
                    </select>
                    <span asp-validation-for="IdEditora" class="text-danger"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3">
                    <button type="submit" class="btn btn-dark"><i class="bi bi-save"></i> Adicionar</button>
                    <a href="/Livro/GetAll" class="btn btn-primary"> <i class="bi bi-list"></i>Listar livros</a>
                </div>

            </form>
        </div>
    </div>
</div>
