@model BibliotecaNA.Models.Domain.Editora
@{
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="pink-tlt">Atualizar Editora</h3>
            <form asp-action="Update" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Nome">Nome da editora *</label>
                    <input type="text" class="form-control" asp-for="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                @if (TempData["msg"] != null)
                {
                    <div class="form-group">
                        @TempData["msg"]
                    </div>
                }
                <div class="form-group pt-3">
                    <button type="submit" class="btn add-btn"><i class="bi bi-save"></i> Atualizar</button>
                    <a href="/Editora/GetAll" class="btn btn-dark"> <i class="bi bi-list"></i>Listar editoras</a>
                </div>
            </form>
        </div>
    </div>
</div>
